body {
    background-image: url('627835.webp')
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50%;
}
#menu {
    position: fixed;
    color: white;
    height: 20px;
    text-align: left;
    font-size: 20pt;
    font-family: 'Dreamy Romantic', sans-serif;
    cursor: pointer;
    border-width: 5px;
    border-top: 0; 
    border-left: 0;
    border-right: 0;
    background: transparent;
    min-width: 100%;
    padding: 40px/*top*/ 0 35px/*bottom*/ 83px;
}
.homeMoon {
    position: fixed;
    left: -38px;
    top: -10px;
}
#homeButton {
    position: relative;
    text-align: left;
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-size: 21px;
    font-family: 'Dreamy Romantic', sans-serif;
    padding: 20px;
    top: 90px;
    min-width: 100%;
}
#contactButton {
    position: fixed;
    text-align: left;
    color: white;
    font-size: 21px;
    background-color: transparent;
    border-color: transparent;
    padding: 20px;
    top: 95px;
    font-family: 'Dreamy Romantic', sans-serif;
    min-width: 100%;
    margin-top: 60px;
}
#socialmediaButton {
    position: fixed;
    text-align: left;
    font-size: 21px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    padding: 20px;
    font-family: 'Dreamy Romantic', sans-serif;
    top: 100px;
    min-width: 100%;
    margin-top: 120px;
}
#myWork {
    position: fixed;
    text-align: left;
    font-size: 21px;
    color: white;
    background-color: transparent;
    padding: 20px;
    top: 170px;
    font-family: 'Dreamy Romantic', sans-serif;
    min-width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    border-color:white;
    border-width: 5px;
    border-top: 0; 
    border-left: 0;
    border-right: 0;
    padding: 22px/*top*/ 0 20px/*bottom*/ 20px;
}
#catch {
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 290px;
    font-family: 'Dreamy Romantic', sans-serif;
    font-size: 20px;
}
.mainText {
    position: fixed;
    color: white;
    text-align: center;
    margin-top: 390px;
    font-family: 'Dreamy Romantic', sans-serif;
    font-size: 20px;  
}
.contactUs {
    background-color: transparent;
    color: white;
    padding: 10px 8px 10px 8px;
    border-color: rgb(253, 253, 253);
    font-size: 30px;
    font-family: 'Dreamy Romantic', sans-serif;
    position: fixed;
    text-align: center;
    top: 50%;
    margin: 9rem 7rem 6rem 8rem;
}
#threeLines {
    position: fixed;
    margin: 0 0 0 315px;
    top: 2%;
}
#X {
    position: fixed;
    top: 3%;
    margin: 0 0 0 335px;
}